{% extends 'base.html.twig' %}
{% block body %}
    <div class="subnav container-fluid">
        <div class="row">
            <div class="col-sm">
                <p>Découvrez un monde de créativité glacée<br>Explorez notre site dédié aux snow tricks et plongez dans l'univers sensationnel des figures sur neige !</p>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        {% for figures in result | batch(3)%}
            <div class="row">
                {% for key, figure in figures %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src={{asset('images/card.jpg')}} alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-capitalize">{{figure[0].name}}</h5>
                                 <h6 class="card-subtitle mb-2 text-muted">{{figure[0].groups_id.group_name}}</h6>
                                <p class="card-text">{{figure.descr}}...</p>
                                {% if app.user.id == figure[0].users_id.id %}
                                <button type="button" class="btn btn-danger m-1 btn-sm">🗑️ Supprimer</button><button type="button" class="btn btn-info btn-sm">✍️ Modifier</button>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                            Ajouté le {{figure[0].creation_date |date("d/m/y")}} par @{{figure[0].users_id.name}}
                            {% if figure[0].update_date %}
                            Dèrnière mise à jour le {{figure[0].update_date | date("d/m/y")}}
                            {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
