{% extends 'base.html.twig' %}
{% block body %}
    <div class="subnav container-fluid">
        <div class="row">
            <div class="col-sm">
                <p>Découvrez un monde de créativité glacée<br>Explorez notre site dédié aux snow tricks et plongez dans l'univers sensationnel des figures sur neige !</p>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        {% for figures in result | batch(3)%}
            <div class="row">
                {% for key, figure in figures %}
                    {% include 'utils/deletemodal.html.twig' with {'name' : figure.name} %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            {% for image in figure.images %}
                                {% if loop.first %}
                                    <img class="card-img-top" src={{asset('images/figures/')}}{{image.ImageName}} alt="Card image cap">
                                {% endif %}
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title text-capitalize">{{figure.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{figure.GroupsId.GroupName}}</h6>
                                {% for desc in short_desc %}
                                    {% for keys, short_d in desc %}
                                        {% if figure.name == keys %}
                                            <p class="card-text">{{short_d}}</p><a href="{{ path('figuresdetails', {slug : figure.slug})}}">voir plus</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% if app.user and app.user.id == figure.UsersId.id %}
                                <a type="button" href={{path('figuresdelete',{id : figure.id})}} class="btn btn-danger m-1 btn-sm" data-toggle="modal" data-target="#deleteModal{{key}}">🗑️ Supprimer</a><a type="button" class="btn btn-info btn-sm">✍️ Modifier</a>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                            Ajouté le {{figure.CreationDate |date("d/m/y")}} par @{{figure.UsersId.name}}
                            {% if figure.UpdateDate %}
                            Dèrnière mise à jour le {{figure.update_date | date("d/m/y")}}
                            {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
