
<div class="container">
{% if connect  %}
    <h3>Ajouter un commentaire</h3><br>
{% else %}
 <h3>Connectez vous pour commenter</h3><br>
 {% endif %}
    {{ form_start(message_form)}}
        {{ form_errors(message_form) }}
        {{ form_row(message_form.content) }}
        <button type="submit" {{connect ? 'class="btn btn-primary"' : 'class="btn btn-secondary" disabled'}}>Commenter</button>
    {{ form_end(message_form) }}
</div>
