{% extends 'base.html.twig' %}

{% block title %}Modification d'une image{% endblock %}

{% block body %}
    <div class="container">
        <h1>Remplacer cette image </h1>
        {% for image in figure.images %}
            {% if image.id == img_id %}
                <div class="img_form">
                    <img src ={{asset('images/figures/')}}{{image.ImageName}}>
                </div>
            {% endif  %}
        {% endfor %}
            {{ form_start(image_form) }}
                {{ form_errors(image_form) }}
                {{ form_row(image_form.images)}}
                <button type="submit" class="btn btn-primary">Modifier</button>
            {{ form_end(image_form) }}
    </div>
{% endblock %}