{% extends 'base.html.twig' %}
{% block body %}
    <div class="container"> 
    {% include 'utils/deletemodal.html.twig' with {'key' : '', 'name' : figures.name} %}
        <h1 class="text-center m-5">{{ figures.name }}</h1>
          <p>
          Ajouté le {{figures.CreationDate |date("d/m/y")}} par @{{figures.UsersId.name}}<br>
            {% if figures.UpdateDate %}
            Dèrnière mise à jour le {{figures.UpdateDate | date("d/m/y")}}
            {% endif %}
            </p>
    {% for image in figures.images %}
        {% if loop.first %}
            <div class="row">
                <div class="col">
                        {% if app.user and app.user.id == figures.UsersId.id %}
                            {% if image.ImageName == default_image %}
                                {% include 'utils/button.html.twig' with {id : figures.id, img: image.Id, path : 'figuresedit_image'} %}
                            {% else %}
                                {% include 'utils/button.html.twig' with {id : figures.id, display : true, img: image.Id, path : 'figuresedit_image'} %}
                            {% endif %}
                        {% endif %}
                    <img src={{asset('images/figures/')}}{{image.ImageName}} alt="" class="img-fluid">
                </div>
            </div>
            <div class="row">
        {% else %}
            <div class="col">
                {% if app.user and app.user.id == figures.UsersId.id %}
                    {% include 'utils/button.html.twig' with {id : figures.id, display : true, img: image.Id, path : 'figuresedit_image'} %}
                {% endif %}
                <img src={{asset('images/figures/')}}{{image.ImageName}} alt="" class="img-thumbnail">
            </div>
        {% endif %}
    {% endfor %}

            </div>
        {% for video in figures.videos %}
            {% if loop.first %}
                <div class="embed-responsive embed-responsive-16by9">
            {% endif %}
            {% if app.user and app.user.id == figures.UsersId.id %}
                {% include 'utils/button.html.twig' with {id : figures.id, display : true, img: video.Id, path : 'figuresedit_video'} %}
            {% endif %}
                <iframe class="embed-responsive-item" src={{video.src}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"allowfullscreen></iframe>
                {% if loop.last %}
                     </div>
                {% endif %}
        {% endfor %}
           
        <p class="text-justify p-2 desc">{{ figures.description}}<br>
        {% if app.user and app.user.id == figures.UsersId.id %}
            <a  href={{path('figuresedit',{'id' : figures.id})}} type="button" class="btn btn-info btn-sm m-1">✍️ Modifier</a></p>
                <div class="m-2">
                    <a  href={{ path('figuresdelete',{id : figures.id}) }} type="button" class="btn btn-danger m-1 btn-sm" data-toggle="modal" data-target="#deleteModal">🗑️ Supprimer</a>
                </div>
        {% endif %}
    </div>
{% endblock %}