{% extends 'base.html.twig' %}
{% block body %}
    <div class="container"> 
        {% include 'utils/deletemodal.html.twig' with {name : figures.name, path : 'figuresdelete', id : figures.id} %}
        <h1 class="text-center m-5">{{ figures.name }}</h1>
        <p class="text-center">{{figures.GroupsID.GroupName}}</p>
        <p>
          Ajouté le {{figures.CreationDate |date("d/m/y")}} par @{{figures.UsersId.name}}<br>
            {% if figures.UpdateDate %}
            Dèrnière mise à jour le {{figures.UpdateDate | date("d/m/y")}}
            {% endif %}
        </p>
        <div class="container"><button class="btn-sm btn hide" id="hide">Afficher les medias</button></div>
        {# images #}
        {% for image in figures.images|sort|reverse  %}
            {% include 'utils/deletemodal.html.twig' with {name : image.ImageName, path :"delete_image", subject : 'image', key : image.Id, id : figures.id} %}
            {% if loop.index == 2 %}
                <div class="row thumb_container">
            {% endif %}
                {% if loop.first %}
                    <div class="row">
                        <div class="col premiere d-none d-sm-block" style="background-image :url({{asset('images/figures/')}}{{image.ImageName}});">
                                {% if app.user and app.user.id == figures.UsersId.id %}
                                    {% if figures.images|length > 1 %}
                                        {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: image.Id, path : 'edit_image', type:'image'} %}
                                    {% else %}
                                        {% include 'utils/button.html.twig' with {id : figures.id, file: image.Id, path : 'edit_image', type:'image'} %}
                                    {% endif %}
                                {% endif %}
                            {# <img src={{asset('images/figures/')}}{{image.ImageName}} alt="" class="img-fluid big d-none d-sm-block"> #}
                        </div>
                    </div>
                {% else %}
                    {# <div class="image_c"> #}
                        <div class="control">
                            {% if app.user and app.user.id == figures.UsersId.id %}
                                <div class="buttons d-none d-sm-block">
                                    {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: image.Id, path : 'edit_image',type:'image',path_delete : "delete_image"} %}
                                </div>
                            {% endif %}
                            <div class="media thumb d-none d-sm-block" style="background-image :url({{asset('images/figures/')}}{{image.ImageName}});">
                                {# <img src={{asset('images/figures/')}}{{image.ImageName}}  class="d-none d-sm-block"> #}
                            </div>
                        </div>
                    {# </div> #}
                {% endif %}
                {% if loop.last %}
                </div>
                {% endif %}
        {% endfor %}
        {# </div> #}
        {# Videos #}
        {% for videos in figures.videos | batch(3) %}
            <div class="row">
                {% for key, video in videos %}
                    {% include 'utils/deletemodal.html.twig' with {name : video.src, path :"delete_video", subject : 'video', key : video.Id, id:figures.Id} %}
                     {% if key == 4 %}
                        <div class="col-4 control">
                     {% else %}
                        <div class=" col-3 control">
                     {% endif %}
                        <div class="media d-none d-sm-block">
                            <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src={{video.src}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"allowfullscreen></iframe>
                            </div>
                        </div>
                        {% if app.user and app.user.id == figures.UsersId.id %}
                        <div class="buttons d-none d-sm-block">
                            {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: video.Id, path : 'edit_video', type:'video'} %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %} 
                {#{% for key, video in videos %}
                    {% include 'utils/deletemodal.html.twig' with {name : video.src, path :"delete_video", subject : 'video', key : video.Id, id:figures.Id} %}
                    {% if key == 4 %}
                        <div class="col-4 mt-4 footage">
                    {% else %}
                        <div class="col-3 mt-4 footage">
                    {% endif %}
                            <div class="embed-responsive embed-responsive-16by9">
                            {% if app.user and app.user.id == figures.UsersId.id %}
                                {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: video.Id, path : 'edit_video', type:'video'} %}
                            {% endif %}
                                <iframe class="embed-responsive-item d-none d-sm-block" src={{video.src}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"allowfullscreen></iframe>
                            
                            </div>
                            
                        </div>
                {% endfor %} #}
            </div>
        {% endfor %}
        {# description #}
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-justify p-2 desc">{{ figures.description}}<br>
                    {% if app.user and app.user.id == figures.UsersId.id %}
                        <a  href={{path('figuresedit',{'id' : figures.id})}} type="button" class="btn btn-info btn-sm m-1">✍️ Modifier</a></p>
                    {% endif %}
                </div>
            </div>
                {% if app.user and app.user.id == figures.UsersId.id %}
            <div class="row m-3 p-3 border bg-light">
                    <div class="col-sm-4 text-center">
                        {# <div class="m-2"> #}
                            <button type="button" class="btn btn-danger m-1 btn-sm" data-toggle="modal" data-target="#deleteModal">🗑️ Supprimer la figure</a>
                        {# </div> #}
                    </div>
                    <div class="col-sm-4 text-center">
                        {# <div class="m-2"> #}
                            <a href = {{path('add_image',{trick_id : figures.id})}} type="button" class="btn btn-success m-1 btn-sm">Ajouter une image</a>
                        {# </div> #}
                    </div>
                    <div class="col-sm-4 text-center">
                        {# <div class="m-2"> #}
                            <a href ={{path('add_video',{id : figures.id})}} type="button" class="btn btn-success m-1 btn-sm">Ajouter une vidéo</a>
                        {# </div> #}
                    </div>
            </div>
                {% endif %}
               
            
                <div class="row m-1 p-2">
                {# Commentaires #}
                    <div class="col" id="mess_form">
                        {% if app.user %}
                                {% include 'edition/add_comment.html.twig' with {connect : true} %}
                        {% else %}
                            {% include 'edition/add_comment.html.twig' with {connect : false} %}
                        {% endif %}
                    </div>
                </div>
                  <div class="row m-1 p-2">
                <div class="col">
                    {% for message in messages %}
                        <div class="card mb-3" id="comments">
                            <div class="row m-1">
                                <div class="col">
                                    <img class="card-img-top message" src={{asset('images/avatars/')}}{{message.users.photo}} alt="Card image cap">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@{{message.users.name}}</h5>
                                <p class="card-text">{{message.content}}</p>
                                <div class="row m-1">
                                    <div class="col">
                                        <p class="card-text"><small class="text-muted">Le {{message.MessageDate | date("d/m/y à H:i")}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {#Link of pagination#}
                        {% for message in messages %}
                            {% if loop.first %}
                                <nav>
                                    <ul class="pagination justify-content-center">
                                    {% if previous >= 0 %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path('figuresdetails', { offset: previous, slug : message.figures.slug }) }}#comments">Précédent</a>
                                        </li>
                                    {% endif %}
                                    {% if next < messages|length %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ path('figuresdetails', { offset: next, slug : message.figures.slug }) }}#comments">Suivant</a>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        {% endfor %}
                    {####################}
                </div>
                {# fin commentaires #}
                
                </div>
            {# {% if app.user and app.user.id == figures.UsersId.id %}
                <div class="col">
                    <div class="m-2">
                        <button type="button" class="btn btn-danger m-1 btn-sm" data-toggle="modal" data-target="#deleteModal">🗑️ Supprimer la figure</a>
                    </div>
                    <div class="m-2">
                        <a href = {{path('add_image',{trick_id : figures.id})}} type="button" class="btn btn-success m-1 btn-sm">Ajouter une image</a>
                    </div>
                    <div class="m-2">
                        <a href ={{path('add_video',{id : figures.id})}} type="button" class="btn btn-success m-1 btn-sm">Ajouter une vidéo</a>
                    </div>
                </div>
            </div>
            {% endif %} #}
        </div>
{% endblock %}