{% extends 'base.html.twig' %}
{% block body %}
    <div class="container"> 
    {% include 'utils/deletemodal.html.twig' with {name : figures.name, path : 'figuresdelete', id : figures.id} %}
        <h1 class="text-center m-5">{{ figures.name }}</h1>
        <p class="text-center">{{figures.GroupsID.GroupName}}</p>
          <p>
          Ajouté le {{figures.CreationDate |date("d/m/y")}} par @{{figures.UsersId.name}}<br>
            {% if figures.UpdateDate %}
            Dèrnière mise à jour le {{figures.UpdateDate | date("d/m/y")}}
            {% endif %}
            </p>
    {% for image in figures.images %}
        {% include 'utils/deletemodal.html.twig' with {name : image.ImageName, path :"delete_image", subject : 'image', key : image.Id,id:figures.id} %}
            {% if loop.first %}
                <div class="row">
                    <div class="col">
                            {% if app.user and app.user.id == figures.UsersId.id %}
                                {% if image.ImageName == default_image %}
                                    {% include 'utils/button.html.twig' with {id : figures.id, file: image.Id, path : 'edit_image', type:'image'} %}
                                {% else %}
                                    {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: image.Id, path : 'edit_image', type:'image'} %}
                                {% endif %}
                            {% endif %}
                        <img src={{asset('images/figures/')}}{{image.ImageName}} alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row">
            {% else %}
                <div class="col">
                    {% if app.user and app.user.id == figures.UsersId.id %}
                        {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: image.Id, path : 'edit_image',type:'image',path_delete : "delete_image"} %}
                    {% endif %}
                    <img src={{asset('images/figures/')}}{{image.ImageName}} alt="" class="img-thumbnail">
                </div>
            {% endif %}
    {% endfor %}

            </div>
        {% for video in figures.videos %}
        {% include 'utils/deletemodal.html.twig' with {name : figures.name, path :"figuresvideo_delete", subject : 'video', key : video.Id, id:figures.id} %}

            {% if loop.first %}
                <div class="embed-responsive embed-responsive-16by9">
            {% endif %}
            {% if app.user and app.user.id == figures.UsersId.id %}
                {% include 'utils/button.html.twig' with {id : figures.id, display : true, file: video.Id, path : 'figuresedit_video',type:'video',path_delete : "figuresvideo_delete"} %}
            {% endif %}
                <iframe class="embed-responsive-item" src={{video.src}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"allowfullscreen></iframe>
                {% if loop.last %}
                     </div>
                {% endif %}
        {% endfor %}
           
        <p class="text-justify p-2 desc">{{ figures.description}}<br>
        {% if app.user and app.user.id == figures.UsersId.id %}
            <a  href={{path('figuresedit',{'id' : figures.id})}} type="button" class="btn btn-info btn-sm m-1">✍️ Modifier</a></p>
                <div class="m-2">
                    <button type="button" class="btn btn-danger m-1 btn-sm" data-toggle="modal" data-target="#deleteModal">🗑️ Supprimer</a>
                </div>
                <div class="m-2">
                    <a href = {{path('add_image',{trick_id : figures.id})}} type="button" class="btn btn-success m-1 btn-sm">Ajouter une image</a>
                </div>
                <div class="m-2">
                    <a href = type="button" class="btn btn-success m-1 btn-sm">Ajouter une vidéo</a>
                </div>
        {% endif %}
    </div>
{% endblock %}